:root {
    font-size: 16px;
    --container-border-radius: 0.5rem 4rem;
    --overlay-container-border-radius: 
   
    
    --gray: #ddd;
    --gray-hover: #ccc;
    
}

body {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 95vh;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signin-container {
    background: #fff;
    border-radius: 0 4rem;
    box-shadow:  0 0.7rem 1.725rem #9c4a2c40, 0 10px 10px #00000018;
    padding: 40px 30px;
    width: 400px;
    position: relative;
    overflow: hidden;
}

.signin-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px; 
    height: 100%;
    width: 150%; /* Width should be larger to create a diagonal effect */
    background: rgba(155, 206, 229, 0.3); /* Light background for tilt effect */
    transform: skewX(-10deg); /* Tilt effect */
    z-index: -1; 
}

h1 {
    font-size: 2.5em;
    color: #333;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    color: #777;
    text-align: center;
}

h3 {
    font-size: 1.9em;
    color: #555;
    text-align: center;
}

.signin-options {
    margin: 20px 0;
}

.btn-google, .btn-signin, #home-btn {
    padding: 10px 20px;
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: blue;
    color: white;
}

.btn-google:hover, .btn-signin:hover, #home-btn:hover {
    border-color: #74ebd5; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.signin-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    color: #555;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #74ebd5; 
    outline: none;
}

.forgot-password {
    text-align: right;
    color: #4285F4;
    text-decoration: none;
    margin-top: 10px;
}

.forgot-password:hover {
    text-decoration: underline;
}

p {
    text-align: center;
    color: #555;
}

a {
    color: #4285F4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1440px) {
    :root, * {
        font-size: 12px;
    }
}

@media screen and (max-width: 1920px) {
    :root, * {
        font-size: 15px;
    }
}

@media screen and (max-width: 700px) {
    :root {
        --container-border-radius: 2rem;
        --overlay-container-border-radius: 0;
    }
}
